{% extends 'home/base.html' %} {% block title %}Hotels{% endblock %} {% block body %} {% load static %}
<div id="tours" class="padding-top-bottom">
    <div class="search-tour" id="search-tour">
        <!-- <p><a href="#ex1" rel="modal:open" class="btn btn-danger">Book Tour</a></p> -->
        <a href="#ex2" rel="modal:open" class="btn btn-danger"><i class="fas fa-search-plus"></i></a>
        <div id="ex2" class="modal" style="width: 100%;">
            <form action="{% url 'tour_mutil' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <select class="form-control" name="city_tour">
                        <option selected="true" value="" disabled="disabled">Choose City</option>
                        {% for i in tour_city %}
                        <option value="{{ i.city }}">{{ i.city }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group input-content">
                    <select class="form-control" name="price" style="background: transparent;">
                        <option selected="true" value="" disabled="disabled">Choose Price</option>
                        <option value="1000000">Dưới 1 Triệu</option>
                        <option value="2000000">Dưới 2 Triệu</option>
                        <option value="3000000">Dưới 3 Triệu</option>
                        <option value="4000000">Dưới 4 Triệu</option>
                        <option value="5000000">Dưới 5 Triệu</option>
                        <option value="6000000">Dưới 6 Triệu</option>
                        <option value="50000000">Trên 10 Triệu</option>
                    </select>
                </div>
                <div class="form-group input-content">
                    <select class="form-control" name="person" style="background: transparent;">
                        <option selected="true" value="" disabled="disabled">Choose Person</option>
                        <option value="1 and 2">1 Người </option>
                        <option value="2 and 3">2 Người</option>
                        <option value="3 and 5">3 Người -> 5 Người</option>
                        <option value="5 and 10">5 Người -> 10 Người</option>
                        <option value="10 and 20">10 Người Trở Lên</option>
                    </select>
                </div>
                <div class="form-group input-content">
                    <select class="form-control" name="date" style="background: transparent;">
                        <option selected="true" value="" disabled="disabled">Choose Date</option>
                        <option value="1">1 Ngày/Đêm</option>
                        <option value="2">2 Ngày/Đêm</option>
                        <option value="3">3 Ngày/Đêm</option>
                        <option value="4">4 Ngày/Đêm</option>
                        <option value="5">5 Ngày/Đêm</option>
                        <option value="6">6 Ngày/Đêm</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Search Tour" class="btn btn-danger">
                </div>
            </form>
        </div>
    </div>
    <div class="boxes_tour">
        {% for i in house_items %}
        <div class="blog-news">
            {{ i.body|safe }}
        </div>
        {% endfor %}
        <div class="author">
            {% for i in tourer %}
            <img src="{{ i.avatar.url }}" alt="Person">
            <div class="description">
                <h1>{{ i.name }}</h1>
                <p class="doc_text">{{ i.email }}</p>
            </div>
            {% endfor %}
        </div>
        <div class="comment-author">
            <h1 class="total">{{ sum_commnet }} comnents</h1>
            {% for i in comment %}
            <div class="comment">
                <img src="{{ i.account.avatar.url }}" alt="Person">
                <div class="description">
                    <h1>{{ i.account.name }}</h1>
                    <h3>{{ i.date }}</h3>
                    <p>{{ i.comment }}</p>
                    <button class="btn btn-light">reply</button>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="post-comment">
            <h1>leave a commnet</h1>
            <form action="{% url 'create_comment_house' house_details.id %}">
                <!-- <div class="form-group">
                    <label for="">Email</label>
                    <input type="text" placeholder="Email" class="form-control" name="email">
                </div> -->
                <div class="form-group">
                    <label for="">Comments</label>
                    <input type="text" placeholder="name" class="form-control" name="comment_items">
                </div>
                <button class="btn btn-danger" type="submit">post comment</button>
            </form>
        </div>
    </div>
    <div class="find-form">
        <form action="/create_house_tour/{{ house_details.id }}">
            <h1 class="title-form">find your tour</h1>
            <!-- <div class="form-group">
                <input type="text" placeholder="search location" class="form-control">
            </div> -->
            <div class="form-group">
                <select class="form-control" id="exampleFormControlSelect1" name="book">
                    <option selected="selected" disabled="disabled">Tour</option>
                    {% for i in book_Tour %}
                    <option>{{ i.name_book }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <input type="datetime-local" class="form-control" name="date_to">
            </div>
            <input type="submit" class="btn btn-danger" value="Add Tour">
        </form>
        <div class="categories">
            <h1>categories</h1>
            <ul>
                <li>
                    <h3>tours</h3>
                    <p>(12)</p>
                </li>
                <li>
                    <h3>hotel</h3>
                    <p>(22)</p>
                </li>
                <li>
                    <h3>cruises</h3>
                    <p>(12)</p>
                </li>
                <li>
                    <h3>restaurant</h3>
                    <p>(12)</p>
                </li>
                <li>
                    <h3>destination</h3>
                    <p>(12)</p>
                </li>
            </ul>
        </div>
        <div class="tab-cloud">
            <h1>tag clound</h1>
            <div class="tabs">
                <a href="" class="btn border-info">life</a>
                <a href="" class="btn border-info">sport</a>
                <a href="" class="btn border-info">tech</a>
                <a href="" class="btn border-info">travel</a>
                <a href="" class="btn border-info">life</a>
                <a href="" class="btn border-info">sport</a>
                <a href="" class="btn border-info">tech</a>
                <a href="" class="btn border-info">travel</a>
            </div>
        </div>
        <div class="paragraph">
            <h1>paragraph</h1>
            <p>By 1974, Slade had become a big success in the UK, Europe and beyond, however the band felt that
                continuing
                to provide 'more of the same' was not what they wanted to do. Their manager Chas Chandler suggested
                they
                do a movie, to which the band agreed. To accompany the film, Holder and Lea began writing material for
                a
                soundtrack album, which would continue to see the band break out of their successful formula and try
                different
                musical ideas. "Far Far Away" was selected as the album's lead single and was released in October 1974,
                reaching
                No. 2 in the UK. To accompany the film, Holder and Lea began writing material for a soundtrack album,
                which
                would continue to see the band break out of their successful formula and try different musical ideas.
                "Far
                Far Away" was selected as the album's lead single and was released in October 1974, reaching No. 2 in
                the
                UK
            </p>
        </div>
    </div>
</div>
{% endblock %}