{% extends 'home/base.html' %} {% block title %}Hotels{% endblock %} {% block body %} {% load static %}
{% load humanize %}

<div id="tours" class="padding-top-bottom">
    <div class="boxes_tour">
        {% for i in context %}
        <div class="blog-news">
            <h1>#{{ i.name_place }}</h1>
            <p>{{ i.title }}
            </p>
            <img src="{{ i.image_place.url }}" alt="Persion Number">
            <p>{{ i.description }}
            </p>
        </div>
        {% endfor %}
        <div class="author">
            {% for i in tourer %}
            <img src="{{ i.avatar.url }}" alt="Person">
            <div class="description">
                <h1>{{ i.name }}</h1>
                <p class="doc_text">{{ i.email }}</p>
            </div>
            {% endfor %}
        </div>
        <div class="post-comment">
            <h1>Add Tour</h1>
            <div class="add-book">
                <!-- Link to open the modal -->
                <p><a href="#ex1" rel="modal:open" class="btn btn-danger">Book Tour</a></p>
            </div>
            <div id="ex1" class="modal" style="width: 100%;">
                <form action="{% url 'add_tour' tour.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Date To</label>
                        <input type="date" class="form-control" id="exampleFormControlInput1" name="date">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Name Tour</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" value="{{ tour.name_tour }}"
                            disabled>
                    </div>
                    {% for i in sum_place %}
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Price Total/person</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" value="{{ i.total_price|intcomma }} VNĐ / {{ i.person }} Person"
                            disabled>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Price Total</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" value="{{ i.sum_price|intcomma }} VNĐ"
                            disabled>
                    </div>
                    {% endfor %}
                    <div class="form-group">
                        <input type="submit" value="Add book" class="btn btn-danger">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="find-form">
        <form action="">
            <h1 class="title-form">find your tour</h1>
            <!-- <div class="form-group">
                <input type="text" placeholder="search location" class="form-control">
            </div> -->
            <div class="form-group">
                <select class="form-control" id="exampleFormControlSelect1" name="book">
                    <option selected="selected" disabled="disabled">Tour</option>
                    {% for i in book_Tour %}
                    <option>{{ i.name_book }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <input type="datetime-local" class="form-control" name="date_to">
            </div>
            <input type="submit" class="btn btn-danger" value="Add Tour">
        </form>
        <div class="categories">
            <h1>categories</h1>
            <ul>
                <li>
                    <h3>tours</h3>
                    <p>(12)</p>
                </li>
                <li>
                    <h3>hotel</h3>
                    <p>(22)</p>
                </li>
                <li>
                    <h3>cruises</h3>
                    <p>(12)</p>
                </li>
                <li>
                    <h3>restaurant</h3>
                    <p>(12)</p>
                </li>
                <li>
                    <h3>destination</h3>
                    <p>(12)</p>
                </li>
            </ul>
        </div>
        <div class="tab-cloud">
            <h1>tag clound</h1>
            <div class="tabs">
                <a href="" class="btn border-info">life</a>
                <a href="" class="btn border-info">sport</a>
                <a href="" class="btn border-info">tech</a>
                <a href="" class="btn border-info">travel</a>
                <a href="" class="btn border-info">life</a>
                <a href="" class="btn border-info">sport</a>
                <a href="" class="btn border-info">tech</a>
                <a href="" class="btn border-info">travel</a>
            </div>
        </div>
        <div class="paragraph">
            <h1>paragraph</h1>
            <p>By 1974, Slade had become a big success in the UK, Europe and beyond, however the band felt that
                continuing
                to provide 'more of the same' was not what they wanted to do. Their manager Chas Chandler suggested
                they
                do a movie, to which the band agreed. To accompany the film, Holder and Lea began writing material for
                a
                soundtrack album, which would continue to see the band break out of their successful formula and try
                different
                musical ideas. "Far Far Away" was selected as the album's lead single and was released in October 1974,
                reaching
                No. 2 in the UK. To accompany the film, Holder and Lea began writing material for a soundtrack album,
                which
                would continue to see the band break out of their successful formula and try different musical ideas.
                "Far
                Far Away" was selected as the album's lead single and was released in October 1974, reaching No. 2 in
                the
                UK
            </p>
        </div>
    </div>
</div>
{% endblock %}