{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- style css -->
    <link rel="stylesheet" href="{% static  'dashboard/css/style.css' %}">
    <!-- css bootstrap -->
    <link rel="stylesheet" href="{% static  'dashboard/css/bootstrap.min.css' %}">
    <!-- reset -->
    <link rel="stylesheet" href="{% static 'dashboard/css/reset.css' %}">
    <!-- link icon fa  -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="shortcut icon" href="{% static 'home/images/digital-campaign.png' %}" type="image/x-icon">


</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="">home</a></li>
                <li><a href="">about</a></li>
                <li><a href="">documention</a></li>
                <li><a href="" class="login">login</a></li>
            </ul>
        </nav>
    </header>
    <main class="wrapper">
        <a href="javascript:void(0);" class="icon-nav" id="icon-nav" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
        <div id="sidebar" class="topnav">
            <div class="logo">
                <ul>
                    <li><i class="fas fa-circle"></i></li>
                    <li><i class="fas fa-circle"></i></li>
                    <li><i class="fas fa-circle"></i></li>
                </ul>
                <h2 class="title">fotour <sub class="current">360</sub></h2>
            </div>
            <div class="account container-dashboard">
                <div class="avatar">
                    <img src="{%  static 'dashboard/images/avatar.png' %}" alt="Avatar">
                </div>
                <div class="description">
                    <h1>welcome Guest</h1>
                </div>
            </div>
            <div class="menu container-dashboard">
                <div class="header-menu">
                    <h1><i class="fas fa-grip-horizontal"></i> Build</h1>
                </div>
                <nav>
                    <ul>
                        <li>
                            <i class="fas fa-users"></i>
                            <a href="">community</a>
                        </li>
                        <li>
                            <i class="fas fa-table"></i>
                            <a href="">apps</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="menu container-dashboard">
                <div class="header-menu">
                    <h1><i class="fas fa-grip-horizontal"></i> learn</h1>
                </div>
                <nav>
                    <ul>
                        <li class="dropdown-btn arrow-droppdown">
                            <i class="fas fa-users"></i>
                            <a href="javascript:void(0)">House</a>
                        </li>
                        <ul class="dropdown-nav">
                            <li>
                                <i class="fas fa-users"></i>
                                <a href="{% url 'IndexView_House' %}">Table House</a>
                            </li>
                            <li>
                                <i class="fas fa-users"></i>
                                <a href="{% url 'CreateHouse' %}">Create House</a>
                            </li>
                            <li>
                                <i class="fas fa-users"></i>
                                <a href="{% url 'IndexView_House_City' %}">Table City</a>
                            </li>
                            <li>
                                <i class="fas fa-users"></i>
                                <a href="{% url 'CreateHouse_City' %}">Create City</a>
                            </li>
                            <li>
                                <i class="fas fa-users"></i>
                                <a href="{% url 'IndexView_House_details' %}">Table House Details</a>
                            </li>
                            <li>
                                <i class="fas fa-users"></i>
                                <a href="{% url 'CreateHouse_details' %}">Create House Details</a>
                            </li>
                        </ul>
                        <li class="dropdown-btn arrow-droppdown">
                            <i class="fas fa-users"></i>
                            <a href="javascript:void(0)">tourials</a>
                        </li>
                        <ul class="dropdown-nav">
                            <li>
                                <i class="fas fa-users"></i>
                                <a href="/IndexView_House">Table</a>
                            </li>
                            <li>
                                <i class="fas fa-users"></i>
                                <a href="/CreateHouse">Create</a>
                            </li>
                            <li>
                                <i class="fas fa-users"></i>
                                <a href="">tourials</a>
                            </li>
                        </ul>
                        <li class="dropdown-btn arrow-droppdown">
                            <i class="fas fa-users"></i>
                            <a href="javascript:void(0)">tourials</a>
                        </li>
                        <ul class="dropdown-nav">
                            <li>
                                <i class="fas fa-users"></i>
                                <a href="/IndexView_House">Table</a>
                            </li>
                            <li>
                                <i class="fas fa-users"></i>
                                <a href="/CreateHouse">Create</a>
                            </li>
                            <li>
                                <i class="fas fa-users"></i>
                                <a href="">tourials</a>
                            </li>
                        </ul>
                        <li class="dropdown-btn arrow-droppdown">
                            <i class="fas fa-users"></i>
                            <a href="javascript:void(0)">tourials</a>
                        </li>
                        <ul class="dropdown-nav">
                            <li>
                                <i class="fas fa-users"></i>
                                <a href="/IndexView_House">Table</a>
                            </li>
                            <li>
                                <i class="fas fa-users"></i>
                                <a href="/CreateHouse">Create</a>
                            </li>
                            <li>
                                <i class="fas fa-users"></i>
                                <a href="">tourials</a>
                            </li>
                        </ul>
                        <li class="dropdown-btn arrow-droppdown">
                            <i class="fas fa-users"></i>
                            <a href="javascript:void(0)">tourials</a>
                        </li>
                        <ul class="dropdown-nav">
                            <li>
                                <i class="fas fa-users"></i>
                                <a href="/IndexView_House">Table</a>
                            </li>
                            <li>
                                <i class="fas fa-users"></i>
                                <a href="/CreateHouse">Create</a>
                            </li>
                            <li>
                                <i class="fas fa-users"></i>
                                <a href="">tourials</a>
                            </li>
                        </ul>
                        <li class="dropdown-btn arrow-droppdown">
                            <i class="fas fa-users"></i>
                            <a href="javascript:void(0)">tourials</a>
                        </li>
                        <ul class="dropdown-nav">
                            <li>
                                <i class="fas fa-users"></i>
                                <a href="/IndexView_House">Table</a>
                            </li>
                            <li>
                                <i class="fas fa-users"></i>
                                <a href="/CreateHouse">Create</a>
                            </li>
                            <li>
                                <i class="fas fa-users"></i>
                                <a href="">tourials</a>
                            </li>
                        </ul>
                        <li class="arrow-droppdown">
                            <i class="fas fa-table"></i>
                            <a href="">live courses</a>
                        </li>
                        <li class="arrow-droppdown">
                            <i class="fas fa-table"></i>
                            <a href="">platform</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div id="content-main">
            <div class="header-content">
                <h1>{% block title_main %}{% endblock %}</h1>
                <p>{% block details %}{% endblock %}</p>
            </div>
            <div class="main-content">
                {% block body %} {% endblock %}
            </div>
        </div>
    </main>
    <footer>
        <p>&copy; 2018 turbo 360 all rights reserved </p>
    </footer>
    <script src="{% static 'dashboard/js/index.js' %}"></script>

</body>

</html>